body, h1, h2, h3, h4, h5, p{
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif !important;
}

p{
    font-size: 16px !important;
}

.content pre{
    background-color: transparent !important;
    padding: 0em !important;
}

pre code {
    font-size: 0.9em !important;
}

p img{
    width: 100% !important;
}