.blogSection{
  margin: 1.5rem 2rem;
  padding: 0 1.5rem;

  p img {
    display: block;
    margin: 0 auto;
  }

  img{
    max-width: 50%;
  }

  .media-content{overflow-x: hidden !important;}
}

@media screen and (min-width: 800px) {
  .blogSection {
    margin: 1.5rem 5rem;
  }
}

@media screen and (min-width: 950px) {
  .blogSection {
    margin: 1.5rem 10rem;
  }
}

@media screen and (min-width: 1500px) {
  .blogSection {
    margin: 1.5rem 20rem;
  }
}
